@charset "utf-8";
.bg-dark {
	background-color: #CA0606 !important;
}
.navbar-dark .navbar-nav .nav-link {
	color: #0912F1 !important;
}
.navbar-dark .navbar-nav .nav-link:hover  {
	font-family: 'Source Sans Pro';
	color: #F9F9F9 !important;
}
.navbar-nav .nav-item {
	border: 1px solid #02021B;
	background-image: -webkit-linear-gradient(270deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100.00%);
	width: 108px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
	color: #F8F8F8;
}
.navbar-nav .nav-item:hover  {
	background-image: -webkit-linear-gradient(90deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -moz-linear-gradient(90deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	color: #F8F8F8;
}
header h2 {
	font-family: Impact;
	color: #2301E0;
	font-size: 51px;
	text-shadow: 0px 5px 11.05px rgba(0, 0, 0, 0.56);
	text-align: center;
	margin-top: 1em;
	line-height: 1em;
	letter-spacing: 0.12em;
	font-size-adjust: 150%;
	-webkit-margin-top-collapse: 2.6em;
}
h2 {
	font-family: pt-sans;
	font-style: normal;
	font-weight: 700;
	font-size: 250%;
	line-height: 1em;
}

header {
	background-color: #CA0606;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100PX;
	background-attachment: fixed
!important;
	background-size: cover;
}
.img {
	background-image: url(images/universal.jpg);
}

.nav-item .nav-link .sr-only {
}
nav .container {
	padding-bottom: 10px;
	border-bottom: 2px solid #FF3;
}
body {
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	border-right: 15px solid #CA0606;
	border-left: 15px solid #CA0606;
}
footer {
	padding-top: 5px;
	color: #0912F1;
	background-color: #CA0606;
}


p {
	text-align: left;
}
ul li {
	text-align: left;
}

.media-body p a {
	font-size: 90%;
}
.mobile-spacer {
	display: none;
}


@media screen and (max-width:991.98px){
.navbar-nav .nav-item {
	border: 1px solid #02021B;
	width: 100%;
	text-align: left;
	color: #F8F8F8;
	background-image: none;
	background-color: #8F0406;
	padding-left: 10px;
}
header h2 {
	font-size: 300%;
	letter-spacing: 0.05em;
	font-size-adjust: 150%;
	-webkit-margin-top-collapse: 2.6em;
}
header {
	height: 190px;
	background-attachment: fixed
!important;
	background-size: 70% auto;
}



}

@media screen and (max-width:659.98px){
header h2 {
	font-size: 230%;
	letter-spacing: 0.03em;
	font-size-adjust: 150%;
	margin: 1.4em 0 0 0;
	-webkit-margin-top-collapse: 2.6em;
	line-height: 1.5em;
}
header {
	height: 160px;
	background-attachment: fixed
!important;
	background-size: 70% auto;
}
h4 {
	font-size: 135%;
}



}

@media screen and (max-width:500px){
header .row {
	display: none;
}
.mobile-spacer {
	height: 60px;
	display: block;
}
.container .navbar-brand {
	display: block;
	font-weight: bold;
}
h4 {
	font-size: 135%;
}




}

@media screen and (max-width:350px){
address .col-6 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
h2 {
	font-size: 180%;
}


}
