@charset "utf-8";
.bg-dark {
	background-color: #CA0606 !important;
}
.navbar-dark .navbar-nav .nav-link {
	font-family: 'Source Sans Pro';
	color: #0912F1 !important;
}
.navbar-dark .navbar-nav .nav-link:hover  {
	font-family: 'Source Sans Pro';
	color: #F9F9F9 !important;
}
.navbar-nav .nav-item {
	border: 1px solid #02021B;
	background-image: -webkit-linear-gradient(270deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100.00%);
	width: 108px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
	color: #F8F8F8;
}
.navbar-nav .nav-item:hover  {
	background-image: -webkit-linear-gradient(90deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -moz-linear-gradient(90deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(235,8,43,1.00) 0.41%,rgba(72,2,11,1.00) 100%);
	color: #F8F8F8;
}
header h2 {
	font-family: Impact;
	color: #2301E0;
	font-size: 51px;
	text-shadow: 0px 5px 11.05px rgba(0, 0, 0, 0.56);
	text-align: center;
	margin-top: 1em;
	line-height: 1em;
	letter-spacing: 0.12em;
	font-size-adjust: 150%;
	-webkit-margin-top-collapse: 2.6em;
}
header {
	background-color: #CA0606;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100PX;
	background-attachment: fixed;
	background-size: cover;
}
.img {
  padding: 5px;
}


nav .container {
	padding-bottom: 10px;
	border-bottom: 2px solid #FF3;
}
body {
	border-right: 150px solid #CA0606;
	border-left: 150px solid #CA0606;
}
footer {
	padding-top: 5px;
	color: #0912F1;
	background-color: #CA0606;
}


p {
	text-align: left;
}
ul li {
	text-align: left;
}

.media-body p a {
	font-size: 90%;
}
